body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", serif;
    line-height: 1.5em;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0px;
}

header img {
    position: relative;
    margin-right: auto;
    margin-left: 10px;
    border-radius: 30px;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    position: absolute;
}

nav {
    position: relative;
    margin-left: auto;
    margin-right: 10px;
}

header nav li {
    display: inline-block;
}

header nav li a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

main {
    margin-top: 120px;
}

body {
    background-color: lightgray;
}

#description, #relationship {
    position: static;
}

#description img {
    margin-left: 300px;
    width: 500px;
    height: 550px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#description .description-p1 {
    margin-right: 300px;
}

#description .description-p2 {
    margin-left: 300px;
    margin-right: 300px;
    clear: both;
}

#relationship h2 {
    margin: auto 300px 0;
}

#blank {
    position: relative;
    height: 20px;
}

#relationship p {
    margin-left: 300px;
    margin-right: 300px;
}

#relationship {
    position: relative;
    height: 580px;
    background-color: white;
}

section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

section p {
    font-family: 'Times New Roman', Times, serif;
}

#relationship img {
    width: 500px;
    height: 550px;
    float: right;
    margin-left: 20px;
    margin-right: 300px;
}

footer{
    height: 60px;
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-align: center;
    line-height: 60px;
  }




